# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [4]:
from datetime import datetime

time_now = (datetime.now()).strftime("%Y-%m-%d %H:%M:%S")
print(time_now)

2025-08-11 01:22:54

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [6]:
import math

def area_circle(radius):
    return (math.pi)*(radius**2)

print(area_circle(3))
print(area_circle(5))
print(area_circle(9))

28.274333882308138
78.53981633974483
254.46900494077323

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [15]:
def is_unique_nums(list):
    if (len(set(list)) == len(list)):
        return True
    else:
        return False

nums_list = [2, 4, 5, 5, 7, 9]
print(is_unique_nums(nums_list)) # False
print()
    
print(is_unique_nums([1, 2, 3, 4])) # True
print(is_unique_nums([1, 1, 1, 1])) # False

False

True
False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [27]:
# get data
data = "/workspaces/2025-python-summer-prep/Week-03/beginner/data/lil-wayne.txt"

# import
from collections import Counter  # to count the frequency of elements in a "collection"/file

with open(data, "r", encoding="utf-8") as file:
    text = file.read().upper()  # read entire file, convert all chars to upper case

count = Counter(text)  # count freq of chars
# count_words = Counter(text.split()) # count freq of words

print(dict(count)) # print using dict

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '—': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [30]:
print(dict(sorted(count.items())))

{'\n': 6, ' ': 522, '!': 1, '(': 12, ')': 12, ',': 37, '-': 6, '.': 26, '0': 36, '1': 28, '2': 24, '3': 2, '4': 4, '5': 5, '6': 3, '7': 7, '8': 6, '9': 16, ';': 1, 'A': 211, 'B': 59, 'C': 60, 'D': 74, 'E': 274, 'F': 44, 'G': 53, 'H': 122, 'I': 185, 'J': 8, 'K': 13, 'L': 126, 'M': 77, 'N': 165, 'O': 145, 'P': 39, 'R': 152, 'S': 152, 'T': 180, 'U': 66, 'V': 20, 'W': 63, 'X': 5, 'Y': 44, '[': 14, ']': 14, '—': 1}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [37]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

# access fourth number in list
fourth_element = list1[3]

list1.remove(fourth_element)  # remove whatever fourth_element is from list

# taking the removed number, multiply to last number in list1 -- append product to end of list1
list1.append(list1[-1]*fourth_element)

# print
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [38]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

new_list = []
for nums in original_list:
    if nums % 3 == 0:
        new_list.append(nums)

print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [60]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

# can do using .reverse() method
original_list.reverse()
print(original_list)  # can't do: print(original_list.reverse() -> returns None)

[21, 19, 15, 9, 8, 6, 3, 2]

In [61]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

# can do using sliced notation
reverse_list = original_list[::-1]
print(reverse_list)

[21, 19, 15, 9, 8, 6, 3, 2]

In [62]:
# sliced notation -- [START:STOP:STEP]
## if [::-1] -- START empty, STOP empty, STEP -1
##           -- START from end, STOP until start, STEP backwards by 1

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [65]:
original_list = [1, 2, 3, 4, 5, 6, 7]

new_list = []
for nums in original_list:
    new_list.append(nums**2)

print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [80]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

# assuming both lists have same length, iterate for same number of times
for i in range(0, len(list1)):
    print(list1[i], list2[len(list2) - i - 1])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [88]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

cleaned_list = []
for s in list_of_strings:
    if s != '':
        cleaned_list.append(s)

print(cleaned_list)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [95]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

print(999 in sample_dict.values())  # one-liner; if 999 in dict.values(), print else don't print

True

# #12 Fix all the follow broken code snippets below
(I got these examples from a great website, I will reference them later because they have the answers on them.)

In [101]:
greeting = "Hello, possible pirate! What's the password?"
password = 'admin'
message = greeting+password
if message in "Arrr!":
	print("Go away, pirate.")
else:
	print("Greetings, hater of pirates!")

Greetings, hater of pirates!

In [104]:
pages = 457
word_per_page = 250
number_of_pieces = 100

each_chunk = (457 * 250)/10
print(each_chunk)

11425.0

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [105]:
import pandas as pd

df = pd.read_csv('/workspaces/2025-python-summer-prep/Week-03/beginner/data/titanic.csv')

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [113]:
df.head(2)

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [114]:
mean_age = df['age'].mean()
print(int(mean_age)) # cast as int for whole #s; years of age

29

## What was the oldest and youngest ages on the titanic?

In [117]:
min_age = df["age"].min()
max_age = df["age"].max()

print("Youngest age:", min_age)
print("Oldest age:", max_age)

Youngest age: 0.42
Oldest age: 80.0

In [128]:
# CHECK
print("BY YOUNGEST\n", df["age"].sort_values().head(3))
print("\nBY OLDEST\n", df["age"].sort_values(ascending=False).head(3))

BY YOUNGEST
 803    0.42
755    0.67
644    0.75
Name: age, dtype: float64

BY OLDEST
 630    80.0
851    74.0
493    71.0
Name: age, dtype: float64

## How many people embarked from station 'S'?

In [136]:
# (get df where df[embarked] == "S")(get passengerid col)(count num rows in passengerid col)
passengers_from_S = df[df["embarked"] == "S"]["passengerid"].count()
print(passengers_from_S)

644